body{
    margin: 0%;
    font-family: 'Hanalei Fill', cursive;
}
h1{
    font-size: 50px;
}
.blue-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px; 

}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,blue,light salmon,tomato);
    padding:10px,20px;
    border-radius: 5px;
    color: floralwhite;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    background-color: white;

}
.experience-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}
#full-stack{
    border-left: 7px solid;
    border-image: liner-gradient (1800deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: liner-gradient (1800deg, blue,cyan);
    border-image-slice: 1;;
}
footer{
    text-align: center;
    font-size: 100%;
}

.column {
    float: left;
    width: 10%;
    padding: 20px;
    box-shadow: 40px 40px 40px gray;
    border-radius: 5px;
    height: 1%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-width: 20px;
    background-image: url(images/top-banner.png);
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 20%;
    background-color: white;
    img{
        width:;
    }
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 1%;
    padding: 5px;
    flex: 1px;
  }
  .goal-red{
      color: red;
  }
  .blue-box{
      box-shadow: burlywood;
       box-sizing: 2%;
       color: darkblue;  
   border: 1px solid green ;
   background-color: darkorchid;
   width: 20%;
   text-align:center ;
   position: absolute;

  }